@{
    ViewData["Title"] = "Burial Records Summary";
}

<div class="row">
    <div class="col-2">
        <div class="filter-bkg filter-main p-2">
            <p class="filter-header">Select Filter:</p>
        </div>
    </div>
    <div class="row col">
        @for (int i = 0; i < 12; i++)
        {
            <div class="card m-1 p-3 card-bkg hover-pointer" style="width:305px" onclick="ViewRecord('@Url.Action("ViewRecord", "Burial", new { id=i })');">
                <img class="card-img-top" src="~/mummy.jpg" />
                <div class="card-body card-text-bkg mt-2">
                    <p class="card-text text-white">
                        Burial Summary: @i<br />
                        Location:<br />
                        Age: <br />
                        Gender: <br />
                    </p>
                    @Html.ActionLink("Remove", "DeleteRecord", "Burial", null, new { @class = "btn btn-brassdark float-right mr-1 ml-1", @onclick="confirm('Are you sure you want to delete this record?');"})
                    @Html.ActionLink("Edit", "EditRecord", "Burial", null, new { @class = "btn btn-brassdark float-right mr-1 ml-1" })
                </div>
            </div>
        }
    </div>
</div>