@model FileUploadFormModal
<h2 class="text-center text-brass-dark font-weight-bold">Upload Photos</h2>
<form class="text-center" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="BurialID" />
    @*<dl>
        <dt>
            <label asp-for="@Model.FormFile"></label>
        </dt>
        <dd>
            <input asp-for="@Model.FormFile" type="file">
        </dd>
    </dl>*@

    <label id="photo-btn" for="file-upload" asp-for="@Model.FormFile" class="btn btn-brassdark">Add Photo</label>
        <span id="fileName"></span>
        <input id="file-upload" asp-for="@Model.FormFile" type="file" onchange="getFileName(this)"/>
    <button id="clear-photo" type="button" class="btn btn-blackolive" onclick="clearPhoto();" style="margin-bottom: .5rem; display:none;">Clear</button>
        <br /><br />

    <input id="upload-btn" asp-page-handler="Upload" class="btn btn-brassdark" type="submit" value="Upload">

</form>