container_commands: 
  00_create_cert_crontab: 
    command: "sudo crontab /tmp/renew_cert_cron"
  10_delete_cronjob_file: 
    command: "sudo rm /tmp/renew_cert_cron"
    ignoreErrors: true
files: 
  /tmp/renew_cert_cron: 
    content: "0 1,13 * * * certbot renew\n"
    group: root
    mode: "000777"
    owner: root

