@{
    ViewData["Title"] = "Manage Users";
}

@model ApplicationUser
<div>
    <div>
        <a href="@Url.Action("ManageUsers","Home")" class="btn btn-brassdark float-left">&larr; Back</a>
        <h2 class="text-center" style="margin-right:90px;margin-left:90px;">Account Details:</h2>
    </div>
    <table class="table-account">
        <tbody class="details">
            <tr>
                <td class="font-weight-bold">User:</td>
                <td class="text-right">@Model.UserName</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Account Type: </td>
                <td class="text-right">Researcher</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Status: </td>
                <td class="text-right">Pending</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Email: </td>
                <td class="text-right">@Model.Email</td>
            </tr>
            <tr>
                <td class="font-weight-bold">BYU NetID:</td>
                <td class="text-right">js311</td>
            </tr>
        </tbody>
    </table>
    <div class="btn-group-account">
        <button class="btn btn-blackolive">Approve</button>
        <button class="btn btn-blackolive">Edit</button>
        <button class="btn btn-blackolive">Delete</button>
    </div>
</div>