.form-control {
    display: inline-block;
    width: auto !important;
}
.form-textarea{
    width: 100% !important;
}
.form-short{
    width: 75px !important;
}
.form-medium {
    width: 100px !important;
}
.form-top-holder{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    margin: 20px 0px 20px 0px;
}
.form-section-header{
    color:var(--black-olive);
    display:block;
    font-size:1.5rem;
    font-weight:bold;
    text-decoration:underline;
}
.form-main{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-main-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
/*.form-main-2 *{
    margin-right:30px;
}*/
.form-bottom{
    display:flex;
    flex-direction:row;
    align-items:center;
}
@media (max-width: 990px){
    .form-main{
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
    .form-child{
        margin-bottom: 20px;
    } 
    .form-main-2 {
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .form-section-header{
        text-align:center;
    }
    .form-top-holder{
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
}
.form-location{

}
.form-radio{
    margin:0px 10px 0px 0px;
}
.subsection-indent{
    padding-left:20px;
}

hr.form-divide {
    border-width: 2px;
    border-color: var(--black-olive);
}

.shafts-clusters{
    width: 280px !important;
}

.form-sub-main{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.form-sub-outer{
    display:flex;
    flex-direction:column;
    
}
.form-main-modifier{
    justify-content:space-evenly !important;
}

@media (max-width: 550px){
    .form-sub-main{
        justify-content: center !important;
    }
}