/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}*/

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    font-family: Sen;
    
    
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: Sen;
    
    
    /*background-color: var(--champagne-pink);*/
    background: rgba(255, 232, 214, 0.75);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

:root {
    --black-olive: #3f4238;
    --ebony: #6b705c;
    --artichoke: #a5a58d;
    --ash-grey: #b7b7a4;
    --bone: #d4c7b0;
    --champagne-pink: #ffe8d6;
    --desert-sand: #ddbea9;
    --antique-brass-light: #cb997e;
    --antique-brass-dark: #b98b73;
}
a {
    color: inherit;
}
    a:hover {
        text-decoration: none;
        color: inherit;
    }


/*navbar styling*/
.navbar-buffalo {
    color: var(--champagne-pink);
    background-color: var(--ebony);
    min-height: 100px;
    max-height: 100px;
    height: 100px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    /*display: -ms-flexbox;*/
    /*-ms-flex-wrap: wrap;*/
    /*-ms-flex-align: center;*/
    /*-ms-flex-pack: justify;*/
}
@media (max-width: 1200px) {
    
}

/*navbar spacing*/
.nav-container {
    display: flex;
    flex-direction:row;
    padding: 0;
    align-items:flex-end;
   /* margin-left: auto;
    margin-right:auto;*/
}



.navbar-logo {
    display:flex;
    text-align: left;
    font-size: 36px;
    font-weight:600;
    line-height: 43px;
    letter-spacing:1.5px;
    flex-direction:column;
}
    .navbar-logo:hover {
        color: var(--champagne-pink);
    }
.navbar-logo-subitem {
    /*display:block;*/
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    letter-spacing: 0px;
    /*text-indent:30px;*/
}

.navbar-navitems {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-right:0;
    margin-bottom: 0;
    align-content:space-between !important;
    align-items: flex-end !important;
    
}
.navbar-navlist {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-link {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0px;
    padding: 0px 7.5px 0px 7.5px !important;
}
    .nav-link.active {
        background-color: var(--antique-brass-dark) !important;
        border-color: var(--antique-brass-dark) !important;
    }
@media (max-width: 1200px) {
    .navbar-buffalo {
        min-height: 200px;
        max-height: initial;
        height: 200px;
    }

    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .navbar-logo-main {
        text-align: center;
    }

    .navbar-logo-subitem {
        text-align: center;
    }

    .navbar-logo {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .navbar-navitems {
        margin-top: 0px;
        padding-top: 10px;
        border-top: 2px solid var(--champagne-pink);
        margin-bottom: 10px;
        align-items: center !important;
    }
    .nav-link{
        /*padding-right: 15px !important;*/
    }
}

@media (max-width: 750px) {
    .navbar-buffalo {
        min-height: 200px;
        max-height: initial;
        height: auto;
        align-items: initial;
    }
    .nav-container {
        align-items: center;
    }
    .navbar-logo {
        font-size: 24pt;
    }
    .navbar-logo-subitem{
        font-size: 16pt;
    }
    .navbar-navitems {
        
    }
    .nav-link{
        text-align:center;
    }
}

.nav-item:not(:first-child){
    border-left: 2px solid var(--champagne-pink);
}

.buffalo-img {
    width: 140px;
    height: 111px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--ebony);
}
.footer {
    background: rgba(212, 199, 176, 0.8); /*--bone*/
    color:var(--black-olive);
    font-weight:bold;
}
.btn-blackolive {
    color: #fff;
    background-color: var(--black-olive);
    border-color: var(--black-olive);
}
    .btn-blackolive:hover {
        color: #f5f6f4;
        background-color: #20211c;
        border-color: #20211c;
    }
.btn-ebony {
    color: #fff;
    background-color: var(--ebony);
    border-color: var(--ebony);
}

    .btn-ebony:hover {
        color: #f5f6f4;
        background-color: #889178;
        border-color: #889178;
    }
.btn-artichoke {
    color: #fff;
    background-color: var(--artichoke);
    border-color: var(--artichoke);
}

    .btn-artichoke:hover {
        color: #f5f6f4;
        background-color: #89896C;
        border-color: #89896C;
    }

.btn-pag-artichoke {
    background-color: var(--artichoke);
}

.btn-brassdark {
    color: #000000;
    background-color: var(--antique-brass-dark);
    border-color: var(--antique-brass-dark);
}

    .btn-brassdark:hover {
        color: #000000;
        background-color: #a36e52;
        border-color: #a36e52;
    }
.hover-pointer:hover{
    cursor:pointer;
}

.text-ebony{
    color:var(--ebony);
}
.text-brass-dark {
    color: var(--antique-brass-dark);
}
.text-brass-light {
    color: var(--antique-brass-light);
}
.text-black-olive {
    color: var(--black-olive);
}
.text-desert-sand {
    color: var(--desert-sand);
}
.text-champagne-pink {
    color: var(--champagne-pink);
}
.text-bone {
    color: var(--bone);
}
.text-ash-grey {
    color: var(--ash-grey);
}
.text-artichoke {
    color: var(--artichoke);
}

.btn-primary{
    background-color: var(--antique-brass-dark) !important;
    border-color: var(--antique-brass-dark) !important;
}